<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
<appSettings>
	<add key="URL_API" value="https://cai-api.azurewebsites.net/api/v1/"/>
	<add key="URL_CATEGORIAS" value="EstudioContable/Categorias"/>
	<add key="URL_CATEGORIA" value="EstudioContable/Categoria"/>
	<add key="URL_EMPLEADOS" value="EstudioContable/Empleados"/>
	<add key="URL_EMPLEADO" value="EstudioContable/Empleado"/>
	<add key="URL_EMPRESAS" value="EstudioContable/Empresas/898049"/>
	<add key="URL_EMPRESA" value="EstudioContable/Empresa"/>
	<add key="URL_LIQUIDACIONES" value="EstudioContable/Liquidaciones"/>
	<add key="URL_LIQUIDACION" value="EstudioContable/Liquidacion"/>
	<add key="URL_UTILIDADES" value="Utilidades"/>
	<add key="SMVM" value="24408"/>
</appSettings>
</configuration>
